* {box-sizing: border-box; scroll-behavior: smooth;}
@font-face { font-family: 'Grift'; src: url('/fonts/Grift Variable-VF.ttf') format('truetype'); font-weight: 100 900; font-style: normal; font-display: swap; }
@font-face { font-family: 'Things'; src: url('/fonts/Things-Italic.otf') format('opentype'); font-weight: normal; font-style: italic; font-display: swap; }
@font-face { font-family: 'Things'; src: url('/fonts/Things-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face { font-family: 'CSResident'; src: url('/fonts/CSResident-Regular.otf') format('opentype'); font-weight: normal; font-style: normal; font-display: swap; }
html {max-width: 100vw; overflow-x: hidden; background: var(--dark-green)}
body {width: 100%; margin: 0px}

:root {
    --dark-green: #1d3a33;
    --light-green: #5C774F;
    --cream: #efebce;
    --copper: #ac4e2f;
    --dark-brown: #310502;
    --header-font: "Things", serif;
    --reader-font: "Grift", sans-serif;
    --logo-font: "CSResident", sans-serif;

    --pad: clamp(15px, 2.5vw, 25px);
}

.flex-center-center {display: flex; align-items: center; justify-content: center; flex:1}
.flex-center-end {display: flex; align-items: center; justify-content: flex-end; flex:1}
.flex-center-start {display: flex; align-items: center; justify-content: flex-start; flex:1}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between; flex:1}
.flex-center-spaceevenly {display: flex; align-items: center; justify-content: space-evenly; flex:1}

.flex-start-center {display: flex; align-items: flex-start; justify-content: center; flex:1}
.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start; flex:1;}
.flex-start-end {display: flex; align-items: flex-start; justify-content: flex-end; flex:1;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between; flex:1;}
.flex-start-spaceevenly {display: flex; align-items: flex-start; justify-content: space-evenly; flex:1;}

.flex-end-center {display: flex; align-items: flex-end; justify-content: center; flex:1;}
.flex-end-start {display: flex; align-items: flex-end; justify-content: flex-start; flex:1;}
.flex-end-end {display: flex; align-items: flex-end; justify-content: flex-end; flex:1;}
.flex-end-spacebetween {display: flex; align-items: flex-end; justify-content: space-between; flex:1;}
.flex-end-spaceevenly {display: flex; align-items: flex-end; justify-content: space-evenly; flex:1;}


.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap}
.no-flex-grow {flex: unset;}
.full-width {width: 100%!important}

.black-text {color: black!important;}
.white-text {color: white!important;}
.copper-text {color: var(--copper)}
.cream-text {color: var(--cream)}

.bold-text {font-weight: 700!important}
.italic-text {font-style: italic!important;}
.centered-text {text-align: center!important;}
.right-text {text-align: right!important;}
.no-link-styling {color: inherit!important; text-decoration: none!important;}
.no-text-spacing {margin: 0; padding: 0;}

.small-text {font-size: 14px;}

.basic-padding {padding: var(--pad);}
.basic-margin {margin: var(--pad);}
.basic-padding-top-bottom {padding: var(--pad) 0;}
.basic-padding-left-right {padding: 0 var(--pad);}
.basic-margin-top-bottom {margin: var(--pad) 0;}
.basic-margin-left-right {margin: 0 var(--pad);}

.section-padding {padding: 75px var(--pad)}

.hidden-scrollbar {scrollbar-width: none; /* Firefox */ -ms-overflow-style: none; /* Internet Explorer 10+ */}
.hidden-scrollbar::-webkit-scrollbar {display: none; /* Chrome, Safari, and Edge */}


h1 {font-family: var(--header-font); font-size: clamp(36px, 2vw + 1.2rem, 48px); line-height: clamp(40px, 2vw + 1.3rem, 52px) }
h2 {font-family: var(--header-font); font-size: clamp(36px, 5vw, 52px); line-height: 1.25; margin: 15px 0; font-weight: 100;}
h3 {font-family: var(--reader-font); font-size: 24px; font-weight: 300; line-height: 1.5;}
p {font-family: var(--reader-font); font-weight: 200; font-size: 18px;}
a {color: inherit;}

.hover:hover {cursor: pointer; transform: scale(1.05);}
.hover {cursor: pointer;}
.box-shadow {box-shadow: 2px 2px 2px rgba(0,0,0,0.5);}
.text-shadow {text-shadow: 0 0 2px rgba(0,0,0,0.5);}

.active-link {text-decoration: underline;}

/* buttons */
.button-container button {margin: 5px;}
button {padding: 15px 25px; font-size: 28px; font-family: var(--header-font); border-radius: 8px; transition: all 0.2s ease; cursor:pointer; white-space: nowrap;}

.copper-button {background: var(--copper); border: 2px solid transparent; box-shadow: 2px 2px solid transparent; color: var(--cream)}

.copper-outline-button {border: 2px solid var(--copper); background: rgba(172, 78, 47, 0.25); color: var(--cream) }
button:hover {border: 2px solid var(--cream);}

/* backgrounds */
.green-gradient { background: #1D3A33; background: linear-gradient(341deg, rgba(29, 58, 51, 1) 40%, rgba(92, 119, 79, 1) 100%); }
.green-gradient-reverse { background: #1D3A33; background: linear-gradient(171deg, rgba(29, 58, 51, 1) 60%, rgba(92, 119, 79, 1) 100%); }
.green-gradient-transparent { background: rgba(29, 58, 51, 0.95); background: linear-gradient(341deg, rgba(29, 58, 51, 0.9) 30%, rgba(92, 119, 79, 0.9) 100%); }
.cream-bg {background: var(--cream)}
.dark-green-bg {background: var(--dark-green);}
.light-green-bg {background: var(--light-green)}

/* Logo */
.logo-title { text-transform: uppercase; text-align: center; display: inline-block; overflow: visible;}
.logo-top {font-family: var(--logo-font); letter-spacing: 20px; color: var(--cream); font-size: 65px; font-weight: 100!important;}
.logo-bottom {font-family: var(--reader-font); font-weight: 300; font-size: 24px; letter-spacing: 20px; color: var(--cream)}
.logo-title .letter { background: linear-gradient(135deg, var(--cream) 0%, var(--cream) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; min-height: 65px;}
.tagline {font-family: var(--logo-font); font-size: 32px; line-height: 1}

/* Home Hero */
.home-hero {width: 100%; height: 100vh; min-height: 500px;  background-image: url('/sandstone.png'); background-size: cover;}

/* Card Wrapper */
.card-wrapper { display: flex; gap: 25px; width: 100%; align-items: stretch;}
.card-wrapper > * { flex: 1 1 300px; min-width: 0; }
.card {  border: 1px solid #e5e7eb; border-radius: 16px; padding: 32px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); transition: all 0.3s ease; }
.card:hover { border-color: #d1d5db; transform: translateY(-4px); box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1); }
.copper-card {background: var(--copper); color: var(--cream); font-family: var(--header-font); font-size: 28px; font-weight: 100!important;}

.image-card {aspect-ratio: 0.75; background-size: cover; border: 1px solid #e5e7eb; border-radius: 16px; padding: 32px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); transition: all 0.3s ease;}

@media (max-width: 975px) {
  .card-wrapper { flex-direction: column; }
 .card-wrapper > * { flex: 1 1 auto; }
}

/* Bio Pic */

.bio-pic-wrapper {width: 50vw; min-width: 500px; aspect-ratio: 3/4; margin: 50px 0; border-radius: 0 8px 8px 0;}
.bio-pic {background-image: url('/shivana.png'); aspect-ratio: 3/4; width: 100%; background-size: cover}
.bio-pic-text {padding: 50px 25px;}

@media (max-width: 975px) {
  .bio-pic-container { flex-direction: column;}
 .bio-pic-wrapper { padding: var(--pad); min-width: unset; width: 90%;}
 .bio-pic-text {padding: var(--pad) var(--pad) 50px}
}

/* Footer */
.footer-logo-wrapper {min-width: 400px;}
@media (max-width: 975px) {
.footer-logo-wrapper {width: 100%; min-width: 100%; padding-bottom: 50px; justify-content: center; }
.footer-contact {align-items: center;}
.footer-contact p {text-align: center!important;}

}

.fade-in{-webkit-animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both;animation:fade-in 1.2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

